html {
    display: flex;
    justify-content: center;
}

body {
    background-color: #430A5D;
    color: white;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

header>div#themes {
    display: flex;
    align-items: center;
    gap: 8px;
}

header>div#themes>button {
    background-color: #EEE4B1;
    border: 0px;
}
header>div#themes>button:active {
    opacity: 0.5;
}
header>div#themes>button:hover {
    cursor: pointer;
}

div#result {
    background-color: #5F374B;
    box-sizing: border-box;
    padding: 16px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 36px;
    justify-content: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#operators {
    gap: 16px;
    border-radius: 8px;
    display: grid;
    padding: 16px;
    background-color: #8C6A5D;
    height: auto;
    width: auto;
    grid-template-columns: repeat(4, auto);

}

div#operators>button {
    height: 50px;
    width: 70px;
    background-color: #EEE4B1;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#operators>button:active {
    opacity: 0.5;
}
div#operators>button:hover {
    cursor: pointer;
}

div#operators>button#dl {
    color: aliceblue;
    background-color: #5F374B;
}

div#operators>button#rst {
    width: 100%;
    color: aliceblue;
    background-color: red;
    grid-column: 1 / 3;
}

div#operators>button#eql {
    width: 100%;
    background-color: #5F374B;
    color: aliceblue;
    grid-column: 3 / 5;
}